@font-face {
  font-family: "Lekton";
  src: url("./assets/fonts/Lekton-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lekton";
  src: url("./assets/fonts/Lekton-Bold.ttf") format("truetype");
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lekton", monospace;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
